<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="./css/style.css" />
  </head>
  <body>
    <div class="container">
      <nav class="nav-row">
        <h2>Users</h2>
        <div class="button-row in-nav">
          <a href="./index.html">Login</a>
          <a href="./register.html">Add New User</a>
          <a href="./users.html">view Users</a>
          <button onclick="logout()" class="btn logout">Logout</button>
        </div>
      </nav>
      <form>
        <h2>Login Form</h2>
        <div class="form-input">
          <label>Email</label>
          <input type="email" name="email" id="email" required />
        </div>
        <div class="form-input">
          <label>Password</label>
          <input type="password" name="password" id="password" required />
        </div>
        <div class="button-row">
          <input type="submit" class="btn" value="Login" id="login" />
          <a href="./register.html">Register</a>
        </div>
      </form>
    </div>
    <script src="./js/auth.js"></script>
    <script src="./js/login.js"></script>
  </body>
</html>
