<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Users</title>
    <link rel="stylesheet" href="./css/style.css" />
  </head>
  <body>
    <div class="container">
      <nav class="nav-row">
        <h2>Users</h2>
        <div class="button-row in-nav">
          <a href="./index.html">Login</a>
          <a href="./register.html">Add New User</a>
          <a href="./users.html">view Users</a>
          <button onclick="logout()" class="btn logout">Logout</button>
        </div>
      </nav>
      <div class="data">
        <div class="button-row">
          <h2>User Data</h2>
          <button class="btn update">Save Changes</button>
        </div>
        <p>User Name: <input id="username" type="text" /></p>
        <p>User Email: <input id="useremail" type="email" /></p>
        <p>User Phone: <input id="userphone" type="tel" /></p>
        <p>Created At: <span id="created"></span></p>
      </div>
    </div>
    <script src="./js/auth.js"></script>
    <script src="./js/user.js"></script>
  </body>
</html>
